*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

body{
  background:#0b0f1a;
  color:white;
  overflow-x:hidden;
}

.hero{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:radial-gradient(circle at top,#1a2a6c,#000);
}

.content{
  text-align:center;
  animation:fadeUp 1.5s ease;
}

.profile{
  width:300px;
  height:300px;
  border-radius:50%;
  border:4px solid #00f7ff;
  box-shadow:0 0 30px #00f7ff;
  margin-bottom:20px;
  object-fit: cover;
  object-position: center;
}


h1{
  font-size:3rem;
  background:linear-gradient(90deg,#00f7ff,#9d00ff);
  -webkit-background-clip:text;
  color:transparent;
}

h2{
  margin-top:10px;
  font-weight:300;
}

.btn{
  display:inline-block;
  margin-top:25px;
  padding:12px 30px;
  border-radius:30px;
  background:linear-gradient(90deg,#00f7ff,#9d00ff);
  color:black;
  text-decoration:none;
  transition:.3s;
}

.btn:hover{
  transform:scale(1.1);
  box-shadow:0 0 25px #9d00ff;
}

.section{
  padding:80px 15%;
  text-align:center;
}

.glass{
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(10px);
  border-radius:20px;
  margin:40px;
}

h3{
  font-size:2.5rem;
  margin-bottom:25px;
}

.skills span{
  display:inline-block;
  margin:10px;
  padding:12px 22px;
  border-radius:20px;
  background:#111;
  box-shadow:0 0 10px #00f7ff;
  transition:.3s;
}

.skills span:hover{
  transform:translateY(-10px);
  box-shadow:0 0 20px #9d00ff;
}

.cards{
  display:flex;
  justify-content:center;
  gap:25px;
  flex-wrap:wrap;
}

.card{
  width:260px;
  padding:40px;
  background:#111;
  border-radius:20px;
  box-shadow:0 0 15px rgba(0,247,255,.4);
  transition:.4s;
}

.card:hover{
  transform:rotateY(15deg) scale(1.05);
  box-shadow:0 0 35px #9d00ff;
}

footer{
  text-align:center;
  padding:20px;
  opacity:.6;
}

.cursor{
  width:20px;
  height:20px;
  border:2px solid #00f7ff;
  border-radius:50%;
  position:fixed;
  pointer-events:none;
  transform:translate(-50%,-50%);
}

@keyframes fadeUp{
  from{opacity:0;transform:translateY(40px);}
  to{opacity:1;transform:translateY(0);}
}

